*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #392759;
    color: #E8F0FF;
    height: 5rem;
    line-height: 5rem;  
    /* vertically center me laane ke liye: line-height */
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.choice:hover{
    opacity: 0.8;
    background-color: #392759;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    /* object-fit ensures the image is neither shrinked nor contracted more, it just fits the object */
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #392759;
    color: #E8F0FF;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}